* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #002333f1;
    --color-secundary: #aabbb9;
    --color-terciary: #159A9C;
    --color-white: #FFF;
    --color-black: #000000;
}

.container-fluid {
    height: 100vh;
    padding: 0;
    background-color: rgb(188, 236, 248);
    background-image: url('../imagens/back-removebg-preview.png');

}

.row_inputs {
    height: 7vh;
    width: 100vw;
    background: var(--color-secundary);
}

#input_pesquisa,
#button_pesquisa,
#button_show_modal {
    height: 50%;
    border-radius: 10px;
    font-size: .8rem;
}

#input_pesquisa {
    width: 50%;
    padding-left: 10px;
    border: 1.4px solid var(--color-primary);
}

#button_pesquisa,
#button_show_modal {
    width: 100%;
    background: var(--color-terciary);
    border: 1px solid rgb(13, 76, 92);
    color: var(--color-white);
    margin-left: 20px;
    transition: .5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
}

#button_show_modal {
    width: 100%;
}

#button_pesquisa:hover {
    transform: scale(1.05);
    transition: .5s;
}

#button_show_modal:hover {
    transform: scale(1.05);
    transition: .5s;
}

.row_informacoes {
    height: 85vh;
    background: var(--color-primary);
    border-radius: 30px;
    width: 95%;
}

.pokemon {
    flex: 0 0 93%;
}

#img_poke {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.411);
}

h1,
span {
    color: var(--color-white);
    text-shadow: .6px .6px 1.5px yellow;
    text-transform: capitalize;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
}

span {
    color: white;
    font-size: 1.14em;
}

#nome {
    text-transform: capitalize;
}

.dados_pokemon {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    background: var(--color-white);
    box-shadow: 2px 2px 6px var(--color-black);
    border-radius: 10px;
    padding: 4px;
}

.list_pokemon_modal {
    z-index: 3;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 3rem;
    flex-direction: column;
    padding: 15px;
    padding-top: 20%;
}

#list_pokemon {
    margin-right: 10px;
    font-size: 2rem;
    height: 100px;
}

#button_pesquisar_modal {
    padding: 5px;
}

.option,
#button_pesquisar_modal,
#list_pokemon {
    height: 100px;
    border-radius: 15px;
    transition: .4s;
    background: #ffffff;
    border: 3px solid black;
    text-align: center;
}

#list_pokemon:hover {
    transform: scale(1.03);
}

#button_pesquisar_modal:hover {
    transform: scale(1.03);
}


.list_pokemon_modal.show {
    display: flex;
}

#button_show_modal.show{
    display: flex;
}

#button_show_modal{
    display: none;
}

@media screen and (max-width:500px) {
    .container-fluid {
        background-image: url('');
    }

    .row_inputs_div {
        flex-direction: column;
    }

    #button_pesquisa {
        margin-left: 5px;
    }
    button{
        margin-top: 10px;
    }

    .row_inputs {
        height: 15%;
    }

    .row_informacoes {
        height: 90%;
        position: absolute;
        top: 5%;
    }

    .pokemon {
        flex: 0 0 85%;
    }

    h1 {
        font-size: 1.5em;
    }

    span {
        font-size: 1em;
    }

    #input_pesquisa {
        width: 100%;
    }

    #button_pesquisa,
    #button_pesquisar_modal,
    #button_show_modal {
        width: 50%;
    }

    .option,
    #button_pesquisar_modal,
    #list_pokemon {
        height: 70px;
        font-size: 2rem;
    }

    .list_pokemon_modal {
        justify-content: flex-start;
    }

    .container_opcoes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    h1 {
        font-size: 1em;
    }

    span {
        font-size: 0.8em;
    }

    img {
        width: 80px;
        height: 80px;
    }
}